html, body {
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}

.wrapper {
    margin: 0;
    padding: 0;
    .content {
        padding: 14px 0;
        background-color: #f8f9fa;
        overflow-y: auto;
    }
}
