.paper-wrapper {
    margin: 0 auto;
    padding: 100px;

    // a4 size
    width: 804px;
    height: 1133px;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: rgb(255, 255, 255);
}
